FLASK_APP=hitch
FLASK_ENV=development

# Secret Key
SECRET_KEY=random_secret_key

# Database
DATABASE_NAME=prod-points.sqlite

# keep this private
NSEC = "xxx"

RELAYS = ["wss://relay.nomadwiki.org", "wss://relay.trustroots.org", "wss://nos.lol"]

THIS_NOSTR_SOURCE=maps.hitchwiki.org

OAUTH_CONSUMER_KEY = '6682a21ab84b6cebc2c4f0984b10769a'
# keep this private
OAUTH_CONSUMER_SECRET = 'xxx'

# choose prod or dev
ENVIRONMENT=