FLASK_APP=hitch
FLASK_ENV=development

# Secret Key
SECRET_KEY=random_secret_key

# Database
DATABASE_NAME=prod-points.sqlite

# keep this private
NSEC = "xxx"

RELAYS = ["wss://relay.nomadwiki.org", "wss://relay.trustroots.org", "wss://nos.lol"]

THIS_NOSTR_SOURCE=maps.hitchwiki.org

OAUTH_CONSUMER_KEY = 'os.getenv('OAUTH_CONSUMER_KEY')'
# keep this private
OAUTH_CONSUMER_SECRET = 'xxx'

ENVIRONMENT=prod/dev