/*
 * Openlayers
 */
div.olControlZoomPanel {
    height: 108px;
    width: 36px;
    position: absolute;
    top: 20px;
    left: 20px;
}
div.olControlZoomPanel div {
    width: 36px;
    height: 36px;
    left: 0;
}
div.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0;
    background-position: 0 0;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 36px;
    background-position: 0 -36px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 72px;
    background-position: 0 -72px;
}
.olTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}



/*
 * jQueryTouch
 */
#jqt.fullscreen #home .info {
    display: none;
}

            #jqt #about .splash {
            	text-align: center;
            }

/*
 * Hitchwiki Maps
 */
.chart {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: Lucida sans,helvetica,arial,sans-serif;
	font-size: 9px;
	line-height: 9px;
}
	.chart.bigger {
		font-size: 13px;
		line-height: 18px;
	}
	.chart.bigger .bar span {
		height: 9px;
	}
	.chart tr {
		clear: both;
	}
	.chart .value {
		display: block;
		float: right;
		padding: 0 0 0 3px;
		text-align: left;
	}
	.chart .label {
		display: block;
		float: left;
		padding: 0 3px 0 0;
		text-align: right;
	}
	.chart .bar {
		width: 100%;
		padding: 0 3px;
		border-right: 1px solid #ad8c55;
		border-left: 1px solid #ad8c55;
		background: transparent url(../../gfx/mobile/line.gif) 50% 50% repeat-x;
	}
	.chart .bar span {
		display: block;
		float: left;
		height: 6px;
		width: 0%;
		margin: 2px 0;
		background-color: #ad8c55;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	
	
	

	#PlacePanel #write_comment { width: 185px; }
	#PlacePanel .copypaste { width: 200px; background: transparent; color: #413914; }
	#PlacePanel .copypaste:hover { border-color: #81722f; }
	#PlacePanel .inset { display: block; padding-left: 6px; }
	
	#PlacePanel .edit_description {
		text-decoration: none;
		color: #000;
		padding: 0;
		margin: 0;
		display: block;
	}
	#PlacePanel .edit_description:active,
	#PlacePanel .edit_description:hover {
		text-decoration: none;
		color: #432d03;
		background: #ede4d4;
		cursor: text;
	}
	#PlacePanel #show_waitingtime_log {
		white-space: nowrap;
	}


#comments ol {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}
#comments ol li {
	list-style: none;
	padding: 0 10px 10px 10px;
	margin: 5px 0;
	border: 1px solid #c9ab22;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#comments ol li.own_comment {
	border-color: #dc8310;
}




.hitchability_color_0 { color: #fff; }
.hitchability_color_1 { color: #00ad00; }
.hitchability_color_2 { color: #96ad00; }
.hitchability_color_3 { color: #ffff00; }
.hitchability_color_4 { color: #ff8d00; }
.hitchability_color_5 { color: #ff0000; }

.hitchability_color_0,
.hitchability_color_1,
.hitchability_color_2,
.hitchability_color_3,
.hitchability_color_4,
.hitchability_color_5 {
    text-shadow: 0px 0px 2px #bdb7a4;
}

.ui-icon-hitchability_0 { background-image: url(../gfx/mobile/hitchability_0.png); }
.ui-icon-hitchability_1 { background-image: url(../gfx/mobile/hitchability_1.png); }
.ui-icon-hitchability_2 { background-image: url(../gfx/mobile/hitchability_2.png); }
.ui-icon-hitchability_3 { background-image: url(../gfx/mobile/hitchability_3.png); }
.ui-icon-hitchability_4 { background-image: url(../gfx/mobile/hitchability_4.png); }
.ui-icon-hitchability_5 { background-image: url(../gfx/mobile/hitchability_5.png); }

table.infotable {
	border: 1px solid #cdb46f;
	border-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	table.infotable th,
	table.infotable td {
		border-bottom: 1px solid #cdb46f;
		padding: 5px;
	}
	table.infotable th {
		background-color: #eddeb6;
		text-align: left;
	}
	table.infotable#rating_list,
	table.infotable#timing_list {
		width: 100%;
	}
