/*
 * Hitchwiki Maps
 *
 * Contents:
 * 1) Misc
 * 2) Typography
 * 3) Buttons
 * 4) Icons
 * 5) Layout
 * 6) Map
 * 7) Cards
 * 8) jQuery UI tweaks
 * 9) Dev-tools
 *
 */



/* 
 * 1) Misc
 */
a img { border: 0; }
.align_right { float: right; }
.align_left { float: left; }

/* 
 * 2) Typography
 */

body, input, textarea, button, .button {
	font-size: 13px;
	line-height: 18px;
	color: #111;
	font-family: arial, helvetica, sans-serif;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: #b76801;
}
a:active,
a:hover {
	color: #d7861d;
}

h1, h2, h3, h4 {	
	font-family: "Trebuchet MS", "Lucida Grande", "Bitstream Vera Sans", Helvetica, Arial, sans-serif;
}

label {
	font-weight: bold;
}
label.checkbox {
	font-weight: normal;
}

.hitchability_question label {
	font-weight: normal;
	font-size: 12px;
}

ul.clean {
	padding: 10px 0;
	margin: 0;
	list-style: none;
}

ul.clean li {
	padding: 5px 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

.or {
	display: block;
	margin: 0;
	clear: both;
	padding: 15px 10px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	font-size: 9px;
	line-height: 9px;
	color: #ad8c55;
	background: url(../gfx/hr.gif) 0 50% repeat-x;
}
	.or span {
		background: #faf9f3;
		padding: 0 5px;
	}

.settings_sub_box {
	display: block;
	padding: 7px;
	margin: 5px 0 5px 25px;
	border: 1px solid #cdb46f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f7f5ea;
}
	.settings_sub_box .or span {
		background-color: #f7f5ea;
	}

table.infotable {
	border: 1px solid #cdb46f;
	border-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	table.infotable th,
	table.infotable td {
		border-bottom: 1px solid #cdb46f;
		padding: 5px;
	}
	table.infotable th {
		background-color: #eddeb6;
		text-align: left;
	}
	table.infotable#rating_list,
	table.infotable#timing_list {
		width: 100%;
	}


.grey {
	color: #555;	
}
a.light, .light, .tip, .meta {
	color: #ad8c55;
}
.smaller, .meta, .tip {
	font-size: 11px;
	line-height: 12px;
}
.tip.checkbox {
	padding-left: 24px;
	display: block;
}
.bigger {
	font-size: 16px;
}

.underline {
	border-bottom: 2px solid #111;
}
	.underline.hitchability_0 { border-color: #fff; }
	.underline.hitchability_1 { border-color: #00ad00; }
	.underline.hitchability_2 { border-color: #96ad00; }
	.underline.hitchability_3 { border-color: #ffff00; }
	.underline.hitchability_4 { border-color: #ff8d00; }
	.underline.hitchability_5 { border-color: #ff0000; }

	.hitchability_color_0 { color: #fff; }
	.hitchability_color_1 { color: #00ad00; }
	.hitchability_color_2 { color: #96ad00; }
	.hitchability_color_3 { color: #ffff00; }
	.hitchability_color_4 { color: #ff8d00; }
	.hitchability_color_5 { color: #ff0000; }
	
	.hitchability_color_0,
	.hitchability_color_1,
	.hitchability_color_2,
	.hitchability_color_3,
	.hitchability_color_4,
	.hitchability_color_5 {
		text-shadow: 0px 0px 2px #bdb7a4;
	}


hr {
	color: #c9ab22;
	background-color: #c9ab22;
	height: 1px;
	border: 0;
	padding: 0;
	margin: 15px 0;
	clear: both;
}


#registeration_note {
	display: block;
	padding: 15px 0;
	margin: 0;
	color: #c04306;
	font-weight: bold;
	font-style: italic;
}


/*
 * 3) Buttons
 */
 
.button,
button {
 	background-color: #eae3c1;
 	color: #684a02;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f1de), to(#d8cb95));
	background: -moz-linear-gradient(top,  #f4f1de,  #d8cb95);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f1de', endColorstr='#d8cb95');
}

input, textarea, button, .button {
	border: 1px solid #b29c49;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}
button.cursor_hand { cursor: hand !important; }

textarea { width: 100%; }
input, textarea {
 	background-color: #fff;
}

textarea[disabled='disabled'],
input[disabled='disabled'] {
	border: 1px solid #d4c690;
 	background-color: #f2f1eb;
 	color: #877e5a;
}


#map_selector {
	z-index: 1001 !important;
	font-size: 9px;
	line-height: 9px;
	font-weight: normal;
	width: 220px;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 3px;
	left: 3px;
	text-align: left;
	float: left;
}
	#map_selector #selected_map {
		width: 100%;
		height: 21px;
		background: #e1ae32 url(../gfx/map_controller_bg.gif) left top repeat-x;
		font-weight: bold;
		color: #964602;
		border: 1px solid #c99416;
		border-top: 0;
		font-size: 9px;
		line-height: 11px;
		padding: 3px 0;
		overflow: hidden;
		text-shadow: 0px 1px 1px #e8c161;
		cursor: hand !important;
		
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
	}
	#map_selector #maplist {
		margin: 0 0 1px 0;
		display: block;
		overflow: hidden;
		padding: 5px;
		display: none;
		z-index: 99997;
		background: #faf9f3;
		border: 1px solid #ccc4a0;
		border-bottom: 0;
	}
		#map_selector #maplist ul {
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
		}
			#map_selector #maplist ul li {
				padding: 4px 0 10px 0;
				margin: 0;
				display: block;
				clear: both;
				
				background: transparent url(../gfx/line.gif) 50% 8px repeat-x;
			}
				#map_selector #maplist ul li h4 {
					display: inline;
					clear: both;
					background-color: #faf9f3;
					font-size: 11px;
					line-height: 12px;
					text-transform: uppercase;
					margin: 0;
					padding: 2px 5px 2px 20px;
				}
				#map_selector #maplist ul li ul.map_options {
					display: block;
					list-style: none;
					margin: 0;
					padding: 5px 0 0 0;
					clear: both;
					overflow: hidden;
				}
					#map_selector #maplist ul li ul.map_options li {
						display: block;
						list-style: none;
						margin: 1px 2px;
						padding: 0;
						float: left;
						clear: none;
					}
						#map_selector #maplist ul li ul.map_options li a {
						    display: block;
						    margin: 0;
						    padding: 2px;
						    height: 13px;
						    font-size: 10px;
						    line-height: 10px;
						
						    -webkit-border-radius: 3px;
						    -moz-border-radius: 3px;
						    border-radius: 3px;
						    
						    background: #f2e9d0;
						    color: #786238;
							
							box-shadow: 1px 1px 1px #fff, inset 1px 1px 0 #dfd7cb;
							-moz-box-shadow: 1px 1px 1px #fff, inset 1px 1px 0 #dfd7cb;
							-webkit-box-shadow: 1px 1px 1px #fff, inset 1px 1px 0 #dfd7cb;
						    
						}
						#map_selector #maplist ul li ul.map_options li a:hover,
						#map_selector #maplist ul li ul.map_options li a:active  {
						    color: #927846;
						    background: #f8f1de;
						}
						#map_selector #maplist ul li ul.map_options li a.selected{
						    background: #f2d996;
						    color: #885900;
						    
							box-shadow: 1px 1px 1px #fff, inset 1px 1px 0 #ceb46e;
							-moz-box-shadow: 1px 1px 1px #fff, inset 1px 1px 0 #ceb46e;
							-webkit-box-shadow: 1px 1px 1px #fff, inset 1px 1px 0 #ceb46e;
						}
/*
			font-weight: bold;
			color: #46350b;
			
			border-top: 1px solid #ccc4a0;
			*/
			
textarea.copypaste, 
input.copypaste {
	width: 100%;
	padding: 6px;
	font-size: 11px;
	line-height: 14px;
}


#select_description,
#select_description option {
	font-size: 11px;
	line-height: 11px;
	background-color: transparent;
	color: #ad8c55;
	border: 0;
}


.onoff_toggle span,
.onoff_toggle {
	display: block;
	width: 94px;
	height: 27px;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
	.onoff_toggle span {
		padding: 0;
		margin: 0;
		background: transparent url(../gfx/toggle.png) left top no-repeat;
	}
	.onoff_toggle {
		float: left;
		margin: 0 5px 0 0;
		padding: 0;
		background: transparent url(../gfx/toggle.png) left bottom no-repeat;
	}
	.onoff_toggle.off {	background-position: -54px bottom; }
	.onoff_toggle.on {	background-position: 0 bottom; }




/*
 * 4) Icons
 */  
.icon {
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 4px;
	background-repeat: no-repeat;
	background-position: left center;
}
textarea.icon {
	width: auto;
	padding-left: 23px;
	padding-top: 3px;
	background-position: 3px 4px;
}
.icon_right {
	padding-right: 20px;
	padding-left: 0;
	background-position: right center;
}

/* Icons / services */
.icon-osm 				{ background-image: url(../gfx/icons/osm.png) !important; }
.icon-google 			{ background-image: url(../gfx/icons/google.gif) !important; }
.icon-google-latitude	{ background-image: url(../gfx/icons/google_latitude.png) !important; }
.icon-nokia_ovi 		{ background-image: url(../gfx/icons/nokia_ovi.png) !important; }
.icon-bing 				{ background-image: url(../gfx/icons/bing.png) !important; }
.icon-ww 				{ background-image: url(../gfx/icons/nasa.png) !important; }
.icon.facebook 			{ background-image: url(../gfx/icons/facebook.png); }
.icon.gravatar 			{ background-image: url(../gfx/icons/gravatar.gif); }

.icon.facebook-mono		{ background-image: url(../gfx/facebook_small.png); padding-left: 17px; }

/* Icons / fileformats */
.icon.gpx 				{ background-image: url(../gfx/icons/gpx.png); }
.icon.kml 				{ background-image: url(../gfx/icons/kml.png); }
.icon.kmz 				{ background-image: url(../gfx/icons/package.png); }

/* Icons / hitchability */
.icon.hitchability_0 	{ background-image: url(../gfx/icons/hitchability_0.png); }
.icon.hitchability_1 	{ background-image: url(../gfx/icons/hitchability_1.png); }
.icon.hitchability_2 	{ background-image: url(../gfx/icons/hitchability_2.png); }
.icon.hitchability_3 	{ background-image: url(../gfx/icons/hitchability_3.png); }
.icon.hitchability_4 	{ background-image: url(../gfx/icons/hitchability_4.png); }
.icon.hitchability_5 	{ background-image: url(../gfx/icons/hitchability_5.png); }

/* Icons / means of transportation */
.icon.transportation_0 	{ background-image: url(../gfx/icons/transportation_0.png); }
.icon.transportation_1 	{ background-image: url(../gfx/icons/transportation_1.png); }
.icon.transportation_2 	{ background-image: url(../gfx/icons/transportation_2.png); }
.icon.transportation_3 	{ background-image: url(../gfx/icons/transportation_3.png); }
.icon.transportation_4 	{ background-image: url(../gfx/icons/transportation_4.png); }
.icon.transportation_5 	{ background-image: url(../gfx/icons/transportation_5.png); }
.icon.transportation_6 	{ background-image: url(../gfx/icons/transportation_6.png); }
.icon.transportation_7 	{ background-image: url(../gfx/icons/transportation_7.png); }
.icon.transportation_8 	{ background-image: url(../gfx/icons/transportation_8.png); }
.icon.transportation_9 	{ background-image: url(../gfx/icons/transportation_9.png); }
.icon.transportation_10	{ background-image: url(../gfx/icons/transportation_10.png); }
.icon.transportation_11	{ background-image: url(../gfx/icons/transportation_11.png); }
.icon.transportation_12	{ background-image: url(../gfx/icons/transportation_12.png); }
.icon.transportation_in-city	{ background-image: url(../gfx/icons/transportation_in-city.png); }
.icon.transportation_inter-city	{ background-image: url(../gfx/icons/transportation_inter-city.png); }

/* Icons / commons */
.icon.magnifier 		{ background-image: url(../gfx/icons/magnifier.png); }
.icon.add 			{ background-image: url(../gfx/icons/add.png); }
.icon.chart_bar 		{ background-image: url(../gfx/icons/chart_bar.png); }
.icon.chart_bar2 		{ background-image: url(../gfx/icons/chart_bar2.png); }
.icon.folder_database 		{ background-image: url(../gfx/icons/folder_database.png); }
.icon.folder 			{ background-image: url(../gfx/icons/folder.png); }
.icon.help 			{ background-image: url(../gfx/icons/help.png); }
.icon.link 			{ background-image: url(../gfx/icons/link.png); }
.icon.lock_go 			{ background-image: url(../gfx/icons/lock_go.png); }
.icon.lock 			{ background-image: url(../gfx/icons/lock.png); }
.icon.map_add 			{ background-image: url(../gfx/icons/map_add.png); }
.icon.map_delete 		{ background-image: url(../gfx/icons/map_delete.png); }
.icon.map_edit 			{ background-image: url(../gfx/icons/map_edit.png); }
.icon.map_go 			{ background-image: url(../gfx/icons/map_go.png); }
.icon.map_magnify 		{ background-image: url(../gfx/icons/map_magnify.png); }
.icon.map 			{ background-image: url(../gfx/icons/map.png); }
.icon.map2 			{ background-image: url(../gfx/icons/map2.png); }
.icon.table_add 		{ background-image: url(../gfx/icons/table_add.png); }
.icon.table	 		{ background-image: url(../gfx/icons/table.png); }
.icon.tag 			{ background-image: url(../gfx/icons/tag.png); }
.icon.world 			{ background-image: url(../gfx/icons/world.png); }
.icon.zoom 			{ background-image: url(../gfx/icons/zoom.png); }
.icon.zoom_in 			{ background-image: url(../gfx/icons/zoom_in.png); }
.icon.zoom_out			{ background-image: url(../gfx/icons/zoom_out.png); }
.icon.cancel 			{ background-image: url(../gfx/icons/cancel.png); }
.icon.accept 			{ background-image: url(../gfx/icons/accept.png); }
.icon.wrench 			{ background-image: url(../gfx/icons/wrench.png); }
.icon.lorry 			{ background-image: url(../gfx/icons/lorry.png); }
.icon.cursor 			{ background-image: url(../gfx/icons/cursor.png); }
.icon.shape_handles 		{ background-image: url(../gfx/icons/shape_handles.png); }
.icon.vector 			{ background-image: url(../gfx/icons/vector.png); }
.icon.new 			{ background-image: url(../gfx/icons/new.png); }
.icon.comment 			{ background-image: url(../gfx/icons/comment.png); }
.icon.comments 			{ background-image: url(../gfx/icons/comments.png); }
.icon.tux 			{ background-image: url(../gfx/icons/tux.png); }
.icon.user_orange 		{ background-image: url(../gfx/icons/user_orange.png); }
.icon.users 			{ background-image: url(../gfx/icons/users.png); }
.icon.user 			{ background-image: url(../gfx/icons/user.png); }
.icon.page_white_put 		{ background-image: url(../gfx/icons/page_white_put.png); }
.icon.building		 	{ background-image: url(../gfx/icons/building.png); }
.icon.calendar_view_day		{ background-image: url(../gfx/icons/calendar_view_day.png); }
.icon.time			{ background-image: url(../gfx/icons/time.png); }
.icon.underground 		{ background-image: url(../gfx/icons/underground.png); }
.icon.skull 			{ background-image: url(../gfx/icons/skull.png); }
.icon.weather 			{ background-image: url(../gfx/icons/weather.png); }
.icon.eye	 		{ background-image: url(../gfx/icons/eye.png); }
.icon.pencil	 		{ background-image: url(../gfx/icons/pencil.png); }
.icon.pencil_add		{ background-image: url(../gfx/icons/pencil_add.png); }
.icon.pencil_delete		{ background-image: url(../gfx/icons/pencil_delete.png); }
.icon.page_white_text		{ background-image: url(../gfx/icons/page_white_text.png); }
.icon.page_white		{ background-image: url(../gfx/icons/page_white.png); }
.icon.email			{ background-image: url(../gfx/icons/email.png); }
.icon.thumb_up			{ background-image: url(../gfx/icons/thumb_up.png); }
.icon.thumb_down		{ background-image: url(../gfx/icons/thumb_down.png); }
.icon.flag_green		{ background-image: url(../gfx/icons/flag_green.png); }
.icon.key			{ background-image: url(../gfx/icons/key.png); }



/* 
 * 5) Layout
 */

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #e7e2c9;
}


#Header {
	margin: 0;
	padding: 5px 10px 5px 10px;
	height: 70px; 
	overflow: hidden;
	min-width: 990px;
	background: #edca50 url(../gfx/bg.png) repeat-x left bottom;
	text-shadow: 0px 1px 1px #ffe998;
}
	#Header #Logo {
		float: left;
		overflow: hidden;
		padding: 12px 0 0 26px;
		background: transparent url(../gfx/hitchwiki.png) 0 4px no-repeat;
	}
	#Header h1 span {
		position: absolute;
		top: -1000px;
	}
	#Header h1 a {
		display: block;
		width: 95px;
		height: 25px;
	}
	#Header h1 {
		float: left;
		padding: 0 10px 0 0;
		margin: 0 10px 0 0;
		border-right: 1px solid #c9ab22;
		/*
		font-size: 25px;
		line-height: 25px;
		color: #764300;
		*/
	}
	#Header h2 {
		float: left;
		padding: 0 10px 0 0;
		margin: 0;
		color: #9d8100;
		font-size: 25px;
		line-height: 25px;
	}
	#Header h3 {
		color: #937b1f;
		font-size: 13px;
		clear: both;
		padding: 10px 0 0 0;
	}

	.HitchwikiPages {
		border: 1px solid #d7b938;		
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;

	  	box-shadow: 0px 0px 2px #fff;
	  	-moz-box-shadow: 0px 0px 2px #fff;
	  	-webkit-box-shadow: 0px 0px 2px #fff;

		float: left;
		padding: 3px 5px;
		margin: 5px 0 0 0;
	}
	.HitchwikiPages,
	.HitchwikiPages a {
		text-shadow: 0px 1px 1px #e8c161;
		text-transform: uppercase;
		font-size: 11px;
		line-height: 11px;
		color: #aa912d;
		font-weight: normal;
	}
	.HitchwikiPages a:hover,
	.HitchwikiPages a:active {
		color: #917606;
	}

	#loginMenu {
		padding: 0 3px 0 0;
		height: 24px;
		clear: both;
		margin: 0;
		list-style: none;
	}
	#loginMenu li {
		float: right;
		margin: 0;
		padding: 4px 2px 0 4px;
		font-size: 11px;
		line-height: 11px;
	}
	#loginMenu li.login,
	#loginMenu li.hello {
		font-size: 13px;
		line-height: 13px;
		padding: 0 0 0 6px;
		font-weight: bold;
	}
	#loginMenu li.hello {
		padding-top: 3px;
		font-style: italic;
	}

ul.Navigation {
	padding: 10px 0 0 0;
	margin: 0;
	list-style: none;
	float: left;
}
	ul.Navigation li {
		display: block;
		padding: 3px 10px 0 0;
		margin: 0;
		float: left;
	}

ul.Sidebar {
	padding: 0;
	margin: 0;
	list-style: none;
}
	ul.Sidebar li {
		display: block;
		padding: 5px 0;
		margin: 0;
		background: #faf9f3;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ccc4a0;
	}
	ul.Sidebar li ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul.Sidebar li ul li {
		border: 0;
		display: block;
		padding: 3px 10px;
		margin: 0;
		background: transparent;
		list-style: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	ul.Sidebar li ul li ul {
		margin: 0 0 0 5px;
		padding: 0;
	}
	ul.Sidebar li ul li ul li {
		margin: 0 0 2px 10px;
		padding: 0;
	}
	ul.Sidebar li ul li ul li:before {
		content: "› "; /* &rsaquo; */
	}

#search_form {
	display: block;
	margin: 0 0 5px 0;
	padding: 3px;
	width: 200px;
	height: 20px;
	clear: both;
	background: #fff;


  	box-shadow: 1px 1px 4px #dbb42a;
  	-moz-box-shadow: 1px 1px 4px #dbb42a;
  	-webkit-box-shadow: 1px 1px 4px #dbb42a;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
	
	#search #q {
		display: block;
		float: left;
		width: 170px;
		line-height: 20px;
		font-size: 13px;
		margin: 0 0 0 3px;
		height: 20px;
		padding: 0;
		border: 0;
		background: transparent;
		/*
		-webkit-border-top-right-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-topright: 0;
		-moz-border-radius-bottomright: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		*/
	}
	#search .search_submit {
		display: block;
		float: right;
		border-left: 0;
		margin: 0;
		height: 20px;
		width: 20px;
		padding: 0;
		font-size: 13px;
		line-height: 13px;
		background-color: #fff !important;
		border: 0;
		/*
		-webkit-border-top-left-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-bottomleft: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		*/
	}


#Footer {
	overflow: hidden;
	height: 25px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 990px;
	z-index: 1000 !important;
	background: #efd05c url(../gfx/footer_bg.gif) repeat-x;
	font-size: 11px;
	line-height: 15px;
	padding: 0;
}
	#Footer ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#Footer ul.ToolsNavigation {
		float: left;
		padding: 6px 0 0 4px;
		margin: 0 0 0 220px;
	}
	#Footer ul.MetaNavigation {
		float: right;
		padding: 6px 4px 0 0;
	}
	#Footer ul li:before {
		content: "";
	}

	#Footer ul li {
		padding: 0 7px;
		float: left;
	}
	#Footer,
	#Footer a:link,
	#Footer a:visited,
	#Footer a:active,
	#Footer a:hover {
		color: #7f5700;
		text-decoration: none;
	}
	#Footer a:active,
	#Footer a:hover {
		text-decoration: underline;
	}


#nearby {
	padding: 1px 3px 0 13px;
	background: url(../gfx/location.png) 0 1px no-repeat;
	height: 16px;
	float: right;
	font-size: 11px;
	line-height: 14px;
}
	#nearby ul li {
		padding-bottom: 2px;
	}

.textbubble {
	padding: 15px;
	background: #ededed;
	
	margin: 10px 0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.floatingPanel {
	display: block;
	text-align: left;
	position: absolute;
	padding: 0 7px 7px 7px;
	margin: 0;
	width: 230px;
	background: #edca50 url(../gfx/bg.png) repeat-x left bottom;
	color: #000;
	font-size: 11px;
	border: 1px solid #c9ab22;
	border-bottom: transparent;
	z-index: 99998;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
  	box-shadow: 0px 0px 5px #ccc;
  	-moz-box-shadow: 0px 0px 5px #ccc;
  	-webkit-box-shadow: 0px 0px 5px #ccc;
}
	.floatingPanel ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.floatingPanel h4 {
		display: block;
		border-bottom: 1px solid #c9ab22;
		margin: 0 0 7px 0;
		color: #000;
	}
	.floatingPanel.draggable h4 {
		cursor: move;
	}
	.floatingPanel #zoom_slider {
		margin: 3px 7px;
	}
	.floatingPanel hr {
		color: #c9ab22;
		background-color: #c9ab22;
		height: 1px;
		border: 0;
		padding: 0;
		margin: 5px 0;
		clear: both;
	}

#languagePanel {
    width: 150px;
}
#languagePanel .selected {
	font-weight: bold;
	color: #333;
}

code.example {
	display: block;
	margin: 5px 0;
	padding: 10px;
	border: 1px #c9ab22;
	background: #fff;
}

.highlight {
	background-color: #ffed89;
}


.chart {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: Lucida sans,helvetica,arial,sans-serif;
	font-size: 9px;
	line-height: 9px;
}
	.chart.bigger {
		font-size: 13px;
		line-height: 18px;
	}
	.chart.bigger .bar span {
		height: 9px;
	}
	.chart tr {
		clear: both;
	}
	.chart .value {
		display: block;
		float: right;
		padding: 0 0 0 3px;
		text-align: left;
	}
	.chart .label {
		display: block;
		float: left;
		padding: 0 3px 0 0;
		text-align: right;
	}
	.chart .bar {
		width: 100%;
		padding: 0 3px;
		border-right: 1px solid #ad8c55;
		border-left: 1px solid #ad8c55;
		background: transparent url(../gfx/line.gif) 50% 50% repeat-x;
	}
	.chart .bar span {
		display: block;
		float: left;
		height: 6px;
		width: 0%;
		margin: 2px 0;
		background-color: #ad8c55;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}


/* PAGINATION - START */
.pagination {
	display: block;
	padding: 5px 3px;
	margin: 0;
	height: 20px;
	clear: both;
	overflow: hidden;
	list-style: none;	
}
	.pagination li {
		display: block;
		float: left;
		height: 15px;
		margin: 0 3px 0;
		padding: 0;
		text-align: center;
		color: #efe1b9;
	}
	.pagination li.backwards,
	.pagination li.forwards,
	.pagination li.backwards a,
	.pagination li.forwards a {
		font-size: 16px;
		line-height: 16px;
	} 
	.pagination li a {
		display: block;
		padding: 3px 5px;
		font-size: 12px;
		line-height: 12px;
	}
	.pagination li.backwards span,
	.pagination li.forwards span,
	.pagination li.backwards a,
	.pagination li.forwards a {
		font-size: 16px;
		margin: 0;
		line-height: 16px;
		padding: 1px 5px;
		display: block;
	} 
	
	.pagination li.num a:link,
	.pagination li.num a:visited,
	.pagination li.num a:hover,
	.pagination li.num a:active {
		background: #fff;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	
  		box-shadow: 0px 0px 3px #d9d6c1;
  		-moz-box-shadow: 0px 0px 3px #d9d6c1;
  		-webkit-box-shadow: 0px 0px 3px #d9d6c1;
  	}
	.pagination li.num a:hover,
	.pagination li.num a:active {
  		box-shadow: 0px 0px 3px #f7c000;
  		-moz-box-shadow: 0px 0px 3px #f7c000;
  		-webkit-box-shadow: 0px 0px 3px #f7c000;
	}
	.pagination li.selected a:link,
	.pagination li.selected a:visited,
	.pagination li.selected a:hover,
	.pagination li.selected a:active {
		background: #f7c000;
		color: #fff;
		font-weight: bold;
		
  		box-shadow: 0px 0px 3px #d9d6c1;
  		-moz-box-shadow: 0px 0px 3px #d9d6c1;
  		-webkit-box-shadow: 0px 0px 3px #d9d6c1;
	}
	.pagination li.special {
		width: 200px;
		float: right;
			text-align: right;
	}
		.pagination li.special.timescale {
			width: 240px;
			padding-top: 2px;
		}
		.pagination li.special.perpage {
			width: 150px;
		}
/* PAGINATION - END */
		
		
/* TRIPS - START */
/*
ol.trips {
	display: block;
	margin: 20px 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #cdb46f;
}
	ol.trips li {
		display: block;
		padding: 20px 0;
		border-top: 1px solid #cdb46f;
		overflow: hidden;
		background: transparent url(../gfx/row_bg.gif) 0 2px repeat-x;
	}
	ol.trips li ol.sub_trips {
		clear: both;
		padding: 10px 0 0 0;
		border-left: 2px solid #f3ecd8;
		margin: 0 0 0 30px;
		padding-left: 10px;
	}
	ol.trips .trip_map {
		width: 400px;
		height: 250px;
		float: left;
		margin: 0 0 0 20px; 
		background-color: #93b3cd;
		color: #e5f0f9;
		text-align: center;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	ol.trips .place_info {
		float: left;
	}
	ol.trips .trip_comments {
		margin: 0 0 0 20px;
		padding: 10px 0 0 0;
		clear: both;
	}
	ol.trips .place ul.meta {
		display: block;
		float: left;
		list-style: none;
		margin: 0;
		padding: 7px 0 0 0;
	}
		ol.trips .place ul.meta li {
			display: block;
			float: left;
			margin: 0;
			padding: 2px 15px 2px 20px;
			border: 0;
			list-style: none;
			background-position: 0 0;
			background-repeat: no-repeat;
		}
	ol.trips .place_info ul.meta {
		display: block;
		float: left;
		list-style: none;
		margin: 0;
		padding: 7px 0 0 20px;
	}
		ol.trips .place_info ul.meta li {
			display: block;
			margin: 0;
			padding: 2px 0 2px 20px;
			border: 0;
			list-style: none;
			background-position: 0 0;
			background-repeat: no-repeat;
		}
		
	ol.trips .place {
		display: block;
		float: left;
		margin: 3px 0 10px 10px;
	}
	ol.trips h4 {
		margin: 0 0 8px 0;
		padding: 0;
		font-size: 20px;
		font-weight: normal;
	}
		.toggle_places {
			font-size: 12px;
			line-height: 12px;
			font-style: italic;
		}
	ol.trips .make_hitchplace {
		display: block;
		float: right;
		width: 130px;
		margin: 0 3px 0 0;
		text-align: center;
	}
		ol.trips .make_hitchplace .yes_please {
			display: block;
			padding: 5px 5px 5px 30px;
			margin: 0 0 5px 0;
			text-align: left;
			background: #78bc6d url(../gfx/icons/add.png) 9px 50% no-repeat;
			color: #fff;
			font-weight: bold;
			font-size: 11px;
			line-height: 13px;
			
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			
  			box-shadow: 0px 0px 3px #d9d6c1;
  			-moz-box-shadow: 0px 0px 3px #d9d6c1;
  			-webkit-box-shadow: 0px 0px 3px #d9d6c1;
		}
		ol.trips .make_hitchplace .yes_please:active,
		ol.trips .make_hitchplace .yes_please:hover { background-color: #6bc85c; }
	ol.trips .datetime {
		display: block;
		float: left;
		width: 40px;
		padding: 3px 0;
		margin: 0 3px;
		overflow: hidden;
		text-align: center;
		background: #fff;
			color: #b59e5e;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	
  		box-shadow: 0px 0px 3px #d9d6c1;
  		-moz-box-shadow: 0px 0px 3px #d9d6c1;
  		-webkit-box-shadow: 0px 0px 3px #d9d6c1;
  	}
  		ol.trips .datetime_mdash {
  			float: left;
  			display: block;
  			margin: 0 2px;
  			padding: 16px 0 0 0;
  			text-align: center;
			color: #b59e5e;
  		}
		ol.trips .datetime .days,
		ol.trips .datetime .day,
		ol.trips .datetime .month,
		ol.trips .datetime .year {
			display: block;
			padding: 1px 0;
		}
			ol.trips .datetime .day {
				font-size: 14px;
				line-height: 14px;
			}
			ol.trips .datetime .month {
				font-size: 10px;
				line-height: 11px;
				font-weight: bold;
			}
			ol.trips .datetime .year {
				font-size: 11px;
				line-height: 11px;
				font-weight: bold;
			}
*/



ol.trips {
	display: block;
	margin: 20px 0;
	padding: 0;
	list-style: none;
	border-top: 2px solid #fff;
	border-bottom: 1px solid #cdb46f;
}
	ol.trips li {
		display: block;
		padding: 5px 6px 0 6px;
		border-top: 1px solid #cdb46f;
		border-bottom: 2px solid #fff;
		overflow: hidden;
		background: transparent url(../gfx/row_bg.gif) repeat-x;
	}
	ol.trips li.even {
		background: none;
	}
	ol.trips li .datetime {
		display: block;
		float: left;
		width: 120px;
		padding: 2px 10px 5px 0;
	}
	ol.trips li ul.place_info {
		display: block;
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
	}
		ol.trips li ul.place_info li {
			display: block;
			margin: 0;
			padding: 5px 15px 2px 20px;
			border: 0;
			list-style: none;
			background-position: 0 3px;
			background-repeat: no-repeat;
		}
		ol.trips li ul.place_info li.location {
			font-size: 13px;
			line-height: 13px;
			padding-top: 2px;
		}
		ol.trips.countries_visited li ul.place_info li.location {
			font-size: 16px;
		}


/* TRIPS - END */




.history {
	list-style: none;
	padding: 0;
	margin: 10px 0;
	border-top: 1px solid #c9ab22;
}
.history li {
	padding: 10px 0 10px 25px;
	background-position: 0 10px;
	margin: 10px 0;
	border-bottom: 1px solid #c9ab22;
}


#PlacePanel {
	overflow: auto;
	overflow-x: hidden;
	display: block;
	width: 250px;
	padding: 0;
	position: absolute;
	top: 80px;
	bottom: 25px;
	right: 0;
	background: #faf9f3;
	border-left: 1px solid #ccc4a0;
}
	#PlacePanel #write_comment { width: 185px; }
	#PlacePanel .copypaste { width: 200px; background: transparent; color: #413914; }
	#PlacePanel .copypaste:hover { border-color: #81722f; }
	#PlacePanel .inset { display: block; padding-left: 6px; }
	
	#PlacePanel .edit_description {
		text-decoration: none;
		color: #000;
		padding: 0;
		margin: 0;
		display: block;
	}
	#PlacePanel .edit_description:active,
	#PlacePanel .edit_description:hover {
		text-decoration: none;
		color: #432d03;
		background: #ede4d4;
		cursor: text;
	}
	#PlacePanel #show_waitingtime_log {
		white-space: nowrap;
	}

#language ul {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

#loading-bar {
	display: block;
	position: absolute;
	z-index: 99999;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;
	height: 19px;
	width: 220px;
	padding: 22px 4px 0 4px;
	margin: auto;
	text-align: center;
	background: #fff url(../gfx/loading.gif) center 4px no-repeat; /* img size: 220 x 19 px */
/*	border: 1px solid #ccc4a0; */

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
  	box-shadow: 0px 0px 5px #ccc;
  	-moz-box-shadow: 0px 0px 5px #ccc;
  	-webkit-box-shadow: 0px 0px 5px #ccc;
}
	#loading-bar .title {
		font-style: italic;
		color: #757575;
	}


ul li ul li #comments ol {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}
ul li ul li #comments ol li {
	list-style: none;
	padding: 0 10px 10px 10px;
	margin: 5px 0;
	border: 1px solid #c9ab22;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul li ul li #comments ol li.own_comment {
	border-color: #dc8310;
}



/*
 * 6) Map
 */ 

#map {
	background-color: #93b3cd;
	color: #e5f0f9;
	text-align: center;

	position: absolute; 
	top: 80px; 
	left: 0; 
	right: 0; 
	bottom: 25px;
	min-width: 600px;
}

.olControlOverviewMapElement {
	padding: 5px 18px 5px 5px !important;
	background-color: #e7e2c9 !important;
	border-top: 1px solid #c0b78b !important;
	border-left: 1px solid #c0b78b !important;
	
	-webkit-border-radius: 5px 0 0 0 !important;
	-moz-border-radius: 5px 0 0 0 !important;
	border-radius: 5px 0 0 0 !important;
}

.layerswitcher,
#layerswitcher {
	background-color: #e7e2c9 !important;
	border: 1px solid red !important;
}


/*
 * 7) Cards and Pages
 */ 

#cards {
	/* Area size should be same as #map 
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 170px;
	right: 0;
	*/
}

.page {
	position: absolute;
	text-align: left;
	padding: 40px 30px;
	top: 80px;
	left: 0;
	bottom: 25px;
	right: 0;
	min-width: 800px;
	overflow: auto;
	z-index: 9998;
	background-color: #faf9f3;
	
  	box-shadow: inset 0px 0px 5px #c1bead;
  	-moz-box-shadow: inset 0px 0px 5px #c1bead;
  	-webkit-box-shadow: inset 0px 0px 5px #c1bead;
}
	/*
	 * Custom backgrounds and styles for pages 
	 */
	.page#profile { 
		background: #167c72 url(../gfx/bg_marshmellow.jpg) -400px -100px no-repeat; 
	}
	.page#profile header {
		display: block;
		clear: both;
		padding: 0 0 20px 0;
	}
	.page#profile header h2 {
		margin: 5px 0;
	}
	 
	/* Countries */
	.page#countries { 
		background: #000 url(../gfx/bg_globe.jpg) no-repeat; 
	}
	.page#countries h2 label,
	.page#countries h2 { 
		color: #fff;
		text-shadow: 1px 1px 3px #1f5f59;
		font-weight: normal;
		font-size: 30px;
		line-height: 35px;
	}
	.page#countries .textbox { 
		background: #fff;
		
		padding: 20px;
		
		width: 750px;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
  		box-shadow: 1px 1px 3px #000;
  		-moz-box-shadow: 1px 1px 3px #000;
  		-webkit-box-shadow: 1px 1px 3px #000;
	}
	/* About */
	.page#about { 
		background: #167c72 url(../gfx/bg_marshmellow.jpg) no-repeat; 
	}
	.page#about h2 { 
		color: #fff;
		text-shadow: 1px 1px 3px #1f5f59;
		font-weight: normal;
		font-size: 30px;
		line-height: 35px;
	}
	.page#about .textbox { 
		background: #fff;
		
		padding: 20px;
		
		width: 750px;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
  		box-shadow: 1px 1px 3px #1f5f59;
  		-moz-box-shadow: 1px 1px 3px #1f5f59;
  		-webkit-box-shadow: 1px 1px 3px #1f5f59;
	}

	/* Mobile */
	.page#mobile { 
		background: #000 url(../gfx/bg_universe.jpg) no-repeat; 
		padding: 50px 30px 40px 50px;
  		box-shadow: inset 0px 0px 5px #000;
  		-moz-box-shadow: inset 0px 0px 5px #000;
  		-webkit-box-shadow: inset 0px 0px 5px #000;
	}
	.page#mobile h2,
	.page#mobile h3.sub-title { 
		color: #fff;
		text-shadow: 1px 1px 5px #000;
		font-weight: normal;
		padding: 0;
		margin: 0 0 10px;
		font-size: 30px;
		line-height: 35px;
	}
	.page#mobile h3.sub-title {
		font-size: 23px;
		line-height: 29px;
	}
	.page#mobile .textbox { 
		background: #fff;
		
		padding: 20px;
		
		width: 750px;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
  		box-shadow: 1px 1px 3px #000;
  		-moz-box-shadow: 1px 1px 3px #000;
  		-webkit-box-shadow: 1px 1px 3px #000;
	}

	
	/* Profile */
	.page#profile .profile_card { 
		float: left;
		margin-right: 20px;
		border: 0;
	}
	.page#profile .profile_card li:last-child {
		border-bottom: 0;
	} 
	.page#profile h2,
	.page#profile .white a,
	.page#profile .white { 
		color: #fff;
		text-shadow: 1px 1px 3px #1f5f59;
	}
	.page#profile .profile_card, 
	.page#profile .location_map { 
		background: #fff;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
  		box-shadow: 1px 1px 3px #1f5f59;
  		-moz-box-shadow: 1px 1px 3px #1f5f59;
  		-webkit-box-shadow: 1px 1px 3px #1f5f59;
	}
	.page#profile .location_map { 
		width: 400px;
		height: 400px;
		padding: 3px;
		overflow: hidden;
	}
	.page#profile h2 {
		font-weight: normal;
		font-size: 30px;
		line-height: 35px;
	} 
	/* Why register */
	.page#why_register { 
		background: #000 url(../gfx/bg_globe.jpg) no-repeat; 
		padding: 50px 30px 40px 50px;
  		box-shadow: inset 0px 0px 5px #000;
  		-moz-box-shadow: inset 0px 0px 5px #000;
  		-webkit-box-shadow: inset 0px 0px 5px #000;
	}
	.page#why_register .textbox { 
		width: 595px; 
		height: 314px; 
		margin: 0 40px 20px 0; 
		padding: 120px 35px 35px 35px; 
		background: url(../gfx/bg_why_register.png) no-repeat;
	}
	
	/* 404 error */
	.page#error404 {
		background: #000 url(../gfx/bg_universe.jpg) no-repeat; 
		padding: 50px 30px 40px 50px;
  		box-shadow: inset 0px 0px 5px #000;
  		-moz-box-shadow: inset 0px 0px 5px #000;
  		-webkit-box-shadow: inset 0px 0px 5px #000;
		text-align: center;
	}
	.page#error404 strong,
	.page#error404 h2 { 
		color: #fff;
		text-shadow: 1px 1px 5px #000;
	}
	.page#error404 h2 {
		font-weight: normal;
		padding: 0;
		margin: 0 0 10px;
		font-size: 30px;
		line-height: 35px;
	}

#pages .close {
    position: absolute;
    top: 100px;
    right: 30px;
	z-index: 9999;
  	box-shadow: 0px 0px 5px #b35c0f;
  	-moz-box-shadow: 0px 0px 5px #b35c0f;
  	-webkit-box-shadow: 0px 0px 5px #b35c0f;
}


.filelist {
	padding: 0;
	margin: 0;
	font-size: 11px;
	line-height: 11px;
}
.filelist li {
	clear: both;
	overflow: hidden;
}
.filelist .filename {
	padding: 3px 5px 0 0;
	display: block;
	float: left;	
}


.import_options {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
	.import_options li.import_option {
		display: block;
		padding: 15px;
		margin: 0 0 10px 0;
	
		background-color: #faf9f3;

  		border: 1px solid #cdb46f;
		/*
		box-shadow: 1px 1px 2px #c1bead;
  		-moz-box-shadow: 1px 1px 2px #c1bead;
  		-webkit-box-shadow: 1px 1px 2px #c1bead;
  		*/
	  	box-shadow: inset 1px 1px 4px #c1bead;
	  	-moz-box-shadow: inset 0px 0px 5px #c1bead;
	  	-webkit-box-shadow: inset 0px 0px 5px #c1bead;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	

/*
 * 8) jQuery UI tweaks
 */
.ui-dialog-content {
	font-size: 12px;
	line-height: 15px;/*
	padding: 0;
	margin: 0 !important;
	overflow-x: hidden !important;
	*/
}

.ui-dialog-content textarea {
	width: 97%;
}

.ui-widget-header {

}
.ui-dialog-title {/*
	font-size: 12px !important;
	line-height: 15px !important;
*/}

.ui-widget-content a:link,
.ui-widget-content a:visited { color:#1b75bb; text-decoration:none; }
.ui-widget-content a:hover,
.ui-widget-content a:active { color:#0b559b; }


.ui-datepicker {
	font-size: 80% !important;
}

/* To help resizable() textarea */
.ui-resizable-se {
    bottom: 17px;
    right: 5px;
}



/*
 * 9) Dev-tools
 */

#log { 
	display: block;
	background: #000;
	color: #fff;
	font-size: 10px;
	line-height: 12px;
	font-family: Courier,serif;
	padding: 0;
	margin: 0;
	width: 450px;
	height: 320px;
	max-height: 620px;
	max-width: 700px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	#log .ui-icon {
    	background-image: url(ui-lightness/images/ui-icons_ffffff_256x240.png);
    	padding: 0;
    	margin: 0;
	}
	#log .handle {
		display: block;
		height: 10px;
		padding: 5px;
		background: #004b61;
		color: #fff;
		cursor: move;
		
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	} 
	#log ol {
		/*
		padding: 10px;
		margin: 0;
		*/
		margin-right: 0;
		padding-right: 0;
		display: block;
		width: 410px;
		height: 280px;
		max-height: 580px;
		max-width: 680px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	#log li {
		color: #969696;
		margin-right: 0;
		padding-right: 0;
		/*list-style: square;*/
		/*
		margin: 0 0 0 20px;
		*/
	} 
	#log li span {
		color: #fff;
	}



/* Misc * extras */
.clear { clear: both; }
.hidden { display: none; }
.hide-fix { position: absolute; left: -99999px; top: -99999px; width: 1px; height: 1px; overflow: hidden; }
.cursor_hand { cursor: hand; }